/*NAV*/

.caret {
    background-image: url('https://scholarjet.com/assets/images/green-blue-arrow.png');
    height: 1.25rem;
    width: 1.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0.3rem;
    border: none;
}

.sj-navbar {
    margin: 0;
    padding: .75rem 3rem;
    box-shadow: 0 .25rem 1.5rem 0 rgba(0, 0, 0, .1);
}

.sj-navbar__item-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.sj-navbar__item-container > * {
    padding: 0 1rem;
}

.nav-link {
    color: #3c565c;
    cursor: pointer;
    display: flex;
    font-weight: bold;
}

.navbar-brand {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 13rem;
}

.navbar-brand:focus {
    outline: none;
}

.navbar-brand-img {
    width: 100%;
}

.dropdown-menu {
    background-color: #3c565c !important;
}

.dropdown-menu > li {
    border-bottom: .0625rem solid white;
}

.dropdown-menu > li > a {
    padding: .75rem 1.5rem;
    color: white;
    font-weight: bold;
}

.dropdown-menu > li > a:hover {
    color: #a3f2eb;
    /* Override bootstrap */
    background-color: #3c565c;
}

.dropdown-menu > li:last-child {
    border-color: transparent;
}

.sj-navbar__toggle {
    float: right;
    border: none;
}

.sj-navbar__toggle:hover {
    background: #eee;
    color: inherit;
}

.sj-navbar__toggle:active,
.sj-navbar__toggle:focus {
    background: #eee;
    color: inherit;
}

.hamburger {
    background-image: url('https://scholarjet.com/assets/images/hamburger-blue.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1.25rem;
    margin-right: 1rem;
}

@media (min-width: 1025px) {
    .sj-navbar__toggle {
        display: none;
    }
}

@media (max-width: 1025px) {
    .sj-navbar {
        padding: .75rem 1rem;
    }

    .navbar-brand {
        width: 10rem;
    }

    .sj-navbar__toggle {
        padding: .5rem 1rem;
    }
}

.nav-link-accent li > a:hover {
    color: #a3f2eb;
    /* Override bootstrap */
    background-color: #3c565c;
}
.nav-link-accent a {
    background-color: #3c565c;
    color: white;
}


/*About us*/

.team-component .team-bg {
  background-image: url('https://scholarjet.com/assets/images/our-team.jpg');
  background-size: cover;
  height: 30.125rem;
  -ms-background-position-y: 25%;
  background-position-y: 25%;
}
.team-component .jumbotron-text h1 {
  color: white;
}
.team-component .jumbotron-text p {
  color: white;
}
.team-component .video-container {
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
}
.team-component .video-thumbnail {
  height: 17.5rem;
  width: 31rem;
  background-image: url('https://scholarjet.com/assets/images/Tuan-Empower-Video.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-component .play-button {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url('https://scholarjet.com/assets/images/play-button.png');
  background-size: cover;
}
.team-component .play-button:hover {
  transform: scale(1.05);
}
.team-component .quote {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  color: #3c565c;
  margin-top: 1rem;
}
.team-component .team-container {
  background-color: #e1eeed;
}
.team-component .profile-container {
  margin: 2rem 0;
}
.team-component .profile-photo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.team-component .profile-photo {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-size: contain;
  padding: 1.25rem;
}
.team-component .profile-description-container {
  display: flex;
  flex-direction: column;
}
.team-component .profile-subtitle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-component .profile-subtitle-container * {
  margin-right: 1.5rem;
}
.team-component .contact-link {
  width: 1.8125rem;
  height: 1.8125rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.team-component .email-link {
  background-image: url('https://scholarjet.com/assets/images/email-navy.png');
}
.team-component .linkedin-link {
  background-image: url('https://scholarjet.com/assets/images/li-navy.png');
}
.team-component .instagram-link {
  background-image: url('https://scholarjet.com/assets/images/insta.png');
}
.team-component .support-logo-row {
  display: flex;
}
.team-component .support-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.team-component .support-logo {
  width: 100%;
}
.team-component .logo-wide {
  max-width: 10rem;
}
.team-component .logo-tall {
  max-width: 90%;
}
.team-component .contact-row {
  background-color: #64c6bd;
}
.team-component .contact-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.team-component .contact-title {
  color: white;
}
.team-component .contact-btn {
  border-color: white;
  color: white;
  margin-left: 2rem;
}
@media (max-width: 991px) {
  .team-component .team-bg {
    height: 36.875rem;
  }
  .team-component .video-container {
    align-items: center;
  }
  .team-component .profile-subtitle-container {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .team-component .team-bg {
    height: 16rem;
  }
  .team-component .video-thumbnail {
    height: 13.5rem;
    width: 23rem;
  }
  .team-component .contact-container {
    flex-direction: column;
  }
  .team-component .contact-btn {
    margin: 0;
  }
}

/*How it works*/
.how-it-works .how-it-works-bg {
  background: url("https://scholarjet.com/assets/images/how-it-works.png");
  background-color: #64c6bd;
  background-size: cover;
}
.how-it-works .row {
  padding: 2rem;
}
.how-it-works .jumbotron-text {
  display: flex;
  flex-direction: column;
}
.how-it-works .jumbotron-text h1 {
  color: white;
}
.how-it-works .jumbotron-text p {
  color: white;
}
.how-it-works .description-title-row {
  padding-bottom: 0;
}
.how-it-works .description-row {
  padding-top: 0;
}
.how-it-works .description-item-container {
  margin: 3rem;
}
.how-it-works .description-header {
  color: #64c6bd;
  text-align: left;
}
.how-it-works .description-bottom-break-item {
  margin-bottom: 0;
}
.how-it-works .images-container {
  margin-bottom: 4rem;
}
.how-it-works .img-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.how-it-works .img-container h4 {
  text-align: center;
}
.how-it-works .how-it-works-img {
  width: 18.75rem;
}
.how-it-works .faq-section {
  background-color: #e1eeed;
  padding: 2rem;
}
.how-it-works .faq {
  background-color: white;
  margin: 1.5rem 0;
  padding: 2rem;
}
.how-it-works .faq-title {
  margin: 1rem 0 3rem 0;
}
@media (max-width: 767px) {
  .how-it-works .jumbotron {
    align-items: center;
  }
  .how-it-works .description-top-break-item {
    margin-top: 1rem;
  }
  .how-it-works .img-container {
    flex-direction: row;
  }
  .how-it-works .img-container-xs-reverse {
    flex-direction: row-reverse !important;
  }
}
@media (max-width: 520px) {
  .how-it-works .img-container {
    flex-direction: column;
  }
  .how-it-works .img-container-xs-reverse {
    flex-direction: column !important;
  }
}
